.content {
	display: grid;
	height: 100vh;
	grid-template-areas:
			"routing"
			"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 11fr 1fr
}

.routing {
	grid-area: routing;
}

.footer {
	grid-area: footer;
}