#footer {
    grid-area: footer;
	padding: 3px 5px;
	background-color: #343a40;
}

#footer-content::before {
	padding-right: 5px;
	font-size: 1rem;
}

#footer-content {
	color: #fff;
	margin-top: 5px;
}

@media screen and (max-width: 600px){
	#footer-content {
		margin-top: 10px;
	}
}