.insert-form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px 3px;
    background-color: #EAEAEA;
}

#form-btn {
    float: right;
    padding-bottom: 6px;
    margin-right: 5px;
}

#form-btn-container {
    /* display: flex; */
    /* align-content: center; */
}

#form-group {
    margin-bottom: 0;
}

#insert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    align-self: center;
    /* margin: 8px; */
}

.col-width {
    width: 16.6667%;
}

#table {
    border: 1px solid red;
    width: calc(100% - 10px);
    border-radius: 5px;
    padding: 5px 3px;
    /* margin: 10px 5px; */
    background-color: #EAEAEA;
}

#table-head {
    /* text-align: left; */
    /* font-weight: 400; */
    /* color: red; */
}