/* containers */
#insert-container {
	display: flex;
    flex-direction: column;
    grid-area: content;
	margin: 16px;
}

@media screen and (max-width: 600px){
	#insert-container {
		margin: 8px;
	}
}

.header {
    align-self: center;
}