@media screen and (max-width: 600px){
	.menu-dropdown {
		display: none;
	}

	.menu-dropdown-collapsed:hover + .menu-dropdown {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 10px;
	}
}

@media screen and (min-width: 601px) {

	.menu-dropdown {
		
	}

	.menu-dropdown-collapsed {
		display: none;
	}

}