@media screen and (max-width: 600px){
	.menu-dropdown-content {
		display: none;
	}

	.toggle-menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 12px;
		background-color: #343a40;
	}
}

@media screen and (min-width: 601px) {
	.menu-dropdown-button {
		display: none;
	}
}

.menu-dropdown {
	display: flex;
	text-align: left;
	text-decoration: none;
	color: red;
}

.link-home {
	padding: 8px;
	color: rgba(255,255,255,.5);
}
.link-home:hover {
	padding: 8px;
	color: rgba(255,255,255,.8);
	text-decoration: none;
	background-color: transparent;
	list-style: none;
}

