@media screen and (max-width: 600px){
	.menu-dropdown-content {
		display: none;
	}

	.toggle-menu {
		display: flex;
		flex-direction: column !important;
		position: absolute;
		top: 30px;
		background-color: #343a40;
	}
}

@media screen and (min-width: 601px) {
	.menu-dropdown-button {
		display: none;
	}
}

.menu-dropdown {
	text-align: left;
	text-decoration: none;
	color: red;
}

.link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	background-color: transparent;
	list-style: none;
}

.link:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, .8);
	background-color: #343a40;
	list-style: none;
}

.link-item {
	text-decoration: none;
	color: #16181b;
	list-style: none;
}

.link-item:hover {
	text-decoration: none;
	color: #16181b;
	list-style: none;
}

.menu-dropdown {
	display: flex;
}

.link-home {
	padding: .5rem 1rem;
	color: rgba(255,255,255,.5);
}
.link-home:hover {
	padding: .5rem 1rem;
	color: rgba(255,255,255,.8);
	text-decoration: none;
	background-color: transparent;
	list-style: none;
}

.link-item {
	padding: 4px 24px 0 24px;
	color: #212529;
	clear: both;
	font-weight: 400;
	background-color: transparent;
	border: 0;
	text-decoration: none;
	font-size: 1rem;
}