#view-container {
	display: flex;
	flex-direction: column;
}

.row-fields {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* padding: 0 8px; */
	width: 95%;
}

.row-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 5%;
}

.row-container {
	display: flex;
	justify-content: space-between;
	margin: 16px;
	border: 1px solid gray;
}

#edit-btn {
	
}

#delete-btn {
	
}